{{#if model.image}}
    <aside>
        <img src="{{model.image}}"/>
    </aside>
{{/if}}

<article>
    <h2>{{model.name}}</h2>

    {{display model.description}}

    {{#each model.categories as | category | }}
        Category: {{#link-to 'category' category}}{{category.name}}{{/link-to}}
    {{/each}}

    {{display model.body}}

    {{outlet}}
</article>
